@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
html {
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
}

body,
.container,
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  justify-content: stretch;
}

.container {
  width: 50%;
  height: 70%;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  flex-direction: column;
  padding: 2rem;
}
.account-data {
  width: 50%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#email-current {
  border: none;
  background-color: #e2e2e2;
}
.account-data form {
  gap: 2rem;
}
form {
  width: 100%;

  flex-direction: row-reverse;
}

.right {
  flex-basis: 50%;
  height: 100%;
  background-image: url("images/computer-security-with-login-password-padlock.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 50%;
}

.left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  max-width: 50%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

input {
  border: 1px solid #d0d5dd;

  height: 44px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width: 100%;
}

button {
  width: 100%;
  padding: 10px 18px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  background-color: rgba(208, 213, 221, 0.3);
  opacity: 0.4;
  border: 1px solid #d0d5dd;
  cursor: pointer;
}

label {
  color: #667085;
}

.error-message {
  padding-block: 1rem;
  color: rgb(245, 59, 59);
}

.orders {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  height: 300px;
}
#search-form {
  padding: 2rem;
  gap: 1rem;
}
#search {
  max-width: 200px;
}
.order-detail-card {
  padding: 1rem;
  background-color: #d6d9de;
  border-radius: 20px;
}
